/terrafrom-installer.sh
/dca_ui/__pycache__
/dca_ui/app.pyc
/dca_ui/crash.log
/dist/**
/build/**
/*.egg-info/**
/user/plans/**
/user/states/**
**/.DS_Store
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform/**
**/.terraform*
