<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Databricks Cloud Automation</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/blog-post.css" rel="stylesheet">

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Databricks Cloud Automation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Modules
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">State</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

          <!-- Title -->
          <h1 class="mt-4">Module: {{ module.name }}</h1>

          <p class="lead">
            {{ module.overview }}
          </p>


          <hr>

          <!-- Date/Time -->
          <!-- <p>Posted on January 1, 2018 at 12:00 PM</p> -->

          <!-- <hr>

          <img class="img-fluid rounded" src="{{'/public/img/module_thumbnails/' + module.name + '.img'}}" alt="{{ module.name }}">

          <hr> -->
          

          <!-- Comments Form -->
          <div class="card my-4">
          	{% if plan_result[0] != 0 %}
            <h2 class="card-header">Error: Unable to generate resource plan</h2>
            <div class="card-body">
            	<form>
	            	<div class="alert alert-danger">
					  <samp>
		             		{% for line in plan_result[2].split('\n') %}
		             		{{ line }}
		             		<br>
		             		{% endfor %}
	             		</samp>
					</div>
				</form>
            </div>

            {% endif %}

            {% if plan_result[0] == 0 %}
            <h2 class="card-header">Plan {{ plan_id }}:</h2>
            <div class="card-body highlight">
            	<form>
					<samp>
		             		{% for line in plan_result[2].split('\n') %}
		             		{{ line }}
		             		<br>
		             		{% endfor %}
	             	</samp>
	             	<button>Apply</button>
	             </form>
            </div>
            {% endif %}
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Databricks</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
